/* loginButton.css */

.login-button {
    margin-left: auto; /* Sposta il pulsante verso destra */
    display: inline-flex; /* Cambia il display per gestire il testo in modo flessibile */
    align-items: center; /* Allinea verticalmente il testo */
    padding: 8px 16px;
    background-color: #2a9d8f;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    overflow: hidden; /* Nasconde il testo che va oltre il contenitore */
    white-space: nowrap; /* Impedisce che il testo vada a capo */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione quando il testo è troppo lungo */
}

.login-button:hover {
    background-color: #21867a;
}

.button-content {
    display: flex;
    align-items: center;
}

.metamask-icon {
    width: 24px; /* Dimensione dell'icona */
    height: 24px; /* Dimensione dell'icona */
    margin-right: 10px; /* Spazio tra l'icona e il testo */
}

/* mintMerge.css */
.mint-merge-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.mint-section {
    position: relative; /* Imposta la posizione relativa per contenere lo spinner */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}
.merge-section {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.mint-section h2,
.merge-section h2 {
    font-size: 1.8em;
    color: #264653;
    margin-bottom: 10px;
}

.mint-section p,
.merge-section p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

/* CSS per l'icona di caricamento */
.loading-spinner {
    position: absolute;
    bottom: 10px; /* Spazio dal fondo della card */
    right: 10px;  /* Spazio dal lato destro della card */
    border: 4px solid rgba(0, 0, 0, 0.1); /* Colore di sfondo del cerchio */
    border-left-color: #2a9d8f; /* Colore del cerchio di caricamento */
    border-radius: 50%;
    width: 30px; /* Ridotto per essere più piccolo */
    height: 30px; /* Ridotto per essere più piccolo */
    animation: spin 0.75s linear infinite; /* Velocità di rotazione più veloce */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
