/* buttons.css*/

button {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #21867a;
    transform: translateY(-2px);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* loginButton.css */
.login-button {
    margin-left: auto; /* Sposta il pulsante verso destra */
    display: inline-flex; /* Cambia il display per gestire il testo in modo flessibile */
    align-items: center; /* Allinea verticalmente il testo */
    padding: 8px 16px;
    background-color: #2a9d8f;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    overflow: hidden; /* Nasconde il testo che va oltre il contenitore */
    white-space: nowrap; /* Impedisce che il testo vada a capo */
    text-overflow: ellipsis; /* Aggiunge i puntini di sospensione quando il testo è troppo lungo */
}

.login-button:hover {
    background-color: #21867a;
}

/* mintMerge.css */
.mint-merge-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.mint-section {
    position: relative; /* Imposta la posizione relativa per contenere lo spinner */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}
.merge-section {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.mint-section h2,
.merge-section h2 {
    font-size: 1.8em;
    color: #264653;
    margin-bottom: 10px;
}

.mint-section p,
.merge-section p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

/* CSS per l'icona di caricamento */
.loading-spinner {
    position: absolute;
    bottom: 10px; /* Spazio dal fondo della card */
    right: 10px;  /* Spazio dal lato destro della card */
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

