/* global.css */
@import url('navbar.css');
@import url('buttons.css');
@import url('opensea-asset.css');
@import url('responsive.css');

/* Stile base per il layout e gli elementi */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f9f9f9, #e2e2e2);
    color: #333;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

button {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #21867a;
    transform: translateY(-2px);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Avatar*/
.avatar {
    margin: 10px;
    background-color: #2a9d84;
}

/* Menu Item*/
.menu-item {
    font-size: 1em;                
    color: #555;                  
    border-radius: 10px;         
    padding: 10px;               
    transition: background-color 0.3s ease; 
}

.menu-item:hover {
    background-color: #f1f1f1;    /* Colore di sfondo al passaggio del mouse */
}

/* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Assicurati che il pop-up sia sopra altri contenuti */
}

.popup-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f44336; /* Colore del pulsante di chiusura */
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-close-button:hover {
    background: #d32f2f; /* Colore del pulsante di chiusura al passaggio del mouse */
}

/* Aggiungi questo al tuo file global.css o in un file CSS specifico */
.transaction-info {
    font-size: 1.1em;
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transaction-info p {
    margin: 5px 0;
    color: #333;
}

.transaction-info strong {
    color: #264653; /* Colore per i label */
}


